@model RegistroPersonas.Dominio.Persona
@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.js"></script>
<script>
    $(document).ready(function () {

        $("#respuesta").hide();
       

        $("#detalle").on("click", function () {

            $("#formularioFoto").show();

        });


        $("#actualizar").hide();
        
        $(".mse").hide();

            $("#frmpersona").submit(function () {



                var personaValidar = $("#frmpersona");



                if (personaValidar.validate()) {

                    var persona = {

                        Identificacion: $('#Identificacion').val(),
                        Nombres: $('#Nombres').val(),
                        Apellidos: $('#Apellidos').val(),
                        Sexo: $("input[name='Sexo']:checked").val(),
                        FechaNacimiento: $('#fecha').val(),
                        Profesion: $('#profesiones').val()

                    };

                    $.post('../Persona/GuardarPersona', persona, function (data) {

                        if (data.estado == "ok") {

                            $("#respuesta").addClass("alert");
                            $("#respuesta").addClass("alert-success");
                            $("#respuesta").html(data.mensaje);
                            $("#respuesta").show();
                        }


                    });


                } else {
                    return false;

                }

            })

        $("#error").hide();

        $("#Identificacion").on("blur", function () {


            var cc = $("#Identificacion").val();

            $.post('../Persona/ValidarIdentificacion', { identificacion : cc }, function (data) {


                if (data.estado != "ok") {

                    $("#error").html(data.mensaje);
                    $("#error").show();
                } else {

                    $("#error").html(data.mensaje);
                    $("#error").removeClass("alert-danger");
                    $("#error").addClass("alert-success");
                    $("#error").show();
                }


            })

        });

               

        });
  
        //$("#formularioRegistro").validate({


        //    rules: {
        //        identificacion: { required: true, digits: true },
        //        nombres: { required: true, maxlength: 20 },
        //        apeliidos: { required: true, maxlength: 20 },
        //        sexo: { required: true },
        //        fecha: { required: true },
        //        profesiones: { required: true }
        //    },
        //    messages: {
        //        identificacion: { required: "campo obligatorio solo debe contener numeros", digits: "el campo solo admite numeros" },
        //        nombres: { required: "campo obligatorio maximo 20 letras" },
        //        apellidos: { required: "campo obligatorio maximo 20 letras" },
        //        sexo: { required: "campo obligatorio debe seleccionar un sexo" },
        //        fecha: { required: "campo obligatorio selecciones una fecha" },
        //        profesiones: { required: "campo obligatorio seleccione su profesion" }
        //    }
        //});
</script>

<script>

    $(document).ready(function () {

        $("#ubicacion").on("change", function () {

            var opcion = $("#ubicacion").val();


            $.post('../Persona/ValidarPosicion', {posicionValidar:opcion})



        })


    });


</script>

<ol class="breadcrumb" style="margin-top:20px;">
    <li><a href="~/">Registro Personas</a></li>
    <li class="active">@Html.ActionLink("Subir Fotos", "GuardarFoto", "Persona", new { id = 0 }, null)  </li>
    <li class="active"><a href="/Persona/ListarPersonas">Ver Personas</a></li>
</ol>

<div class="container" style="margin-top:60px;">

    <div class="row clearfix">

        <div class="col-lg-6">

            <div id="respuesta">

            </div>

            


            <section class="panel panel-default">
                <div class="panel-heading">
                    <strong>Registro Persona</strong>
                </div>

                <div class="panel-body">


                    @using (Html.BeginForm(actionName: "GuardarPersona", controllerName: "Persona", method: FormMethod.Post, htmlAttributes: new { id="frmpersona"}))
                    {

                        <div class="form-group">

                            <label>Identificacion</label>
                            @Html.TextBoxFor(p => p.Identificacion)
                            @Html.ValidationMessageFor(p => p.Identificacion, null, new { @class = "label label-danger" })
                            <span class="label label-danger" id="error"></span>
                        </div>

                        <div class="form-group">

                            <label>Nombres</label>
                            @Html.TextBoxFor(p => p.Nombres)
                            @Html.ValidationMessageFor(p => p.Nombres, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">

                            <label>Apellidos</label>
                            @Html.TextBoxFor(p => p.Apellidos)
                            @Html.ValidationMessageFor(p => p.Apellidos, null, new { @class = "label label-danger" })
                        </div>

                        <div class="form-group">

                            <label>Sexo</label>
                            <input type="radio" name="Sexo" value="Masculino" checked id="m" />Masculino
                            <input type="radio" name="Sexo" value="Femenino" id="f" />Femenino
                            
                        </div>

                        <div class="form-group">

                            <label>Fecha Nacimiento</label>
                            <input type="date" name="FechaNacimiento" value="" id="fecha" />
                            <span class="label label-danger field-validation-error mse" data-valmsg-for="Identificacion" data-valmsg-replace="true">        
                            <span id="errorfecha" class="">El cambo es requerido</span>            
                            </span>
                         </div>

                        <div class="form-group">

                            
                            <label>Profesion</label>
                            <select name="Profesion" id="profesiones">
                                <option value="Ingeniero">Ingeniero</option>
                                <option value="Abogado">Abogado</option>
                                <option value="Mecanico">Mecanico</option>
                                <option value="Futbolista">Futbolista</option>
                                <option value="Periodista">Periodista</option>
                                <option value="Cantante">Cantante</option>
                                <option value="Mercaderista">Mercaderista</option>
                                <option value="Medico">Medico</option>
                            </select>
                            <span class="label label-danger field-validation-error mse" data-valmsg-for="Identificacion" data-valmsg-replace="true">
                                <span for="Sexo" class="mse">El cambo es requerido</span>
                            </span>
                        </div>

                        <div class="form-group">
                             <input type="submit" name="reg" value="Registrarse" class="btn btn-primary" id="r" />
                             <input type="button" name="de" value="Actualizar" id="actualizar" class="btn btn-primary" />
                             <input type="button" name="de" value="Detalle Registro" id="detalle" class="btn btn-primary" />
                             <input type="button" name="valido" value="validar form" id="validar" class="btn btn-primary" />
                        </div>


                    }

                </div>

            </section>


        </div>



        <div class="col-lg-6" id="formularioFoto">

            <div id="resultadoenvio"></div>

            
        </div>
    </div>
</div>
